tr id=medicine.id
	td.draggable
		i.fui-list
	td = link_to medicine.title, 'javascript:void(0);'
	td.text-right
		= link_to admin_medicine_path(medicine), method: :delete, "data-confirm" => TranslationHelper::confirm_destroy(:medicine, title: medicine.title) do
			i.fui-trash