h2 Редактирование препарата

.row ng-controller="PatientMedicinesCtrl" ng-init='receptions=#{@medicine.reception.present? ? @medicine.reception.to_json : [{time: "00:00"}]}'
	.col-md-12
		- if @medicine.errors.count > 0
			- @medicine.errors.full_messages.each do |err|
				div.text-danger = err
	= simple_form_for @medicine, url: patient_medicine_path(@medicine), method: :put, defaults: { input_html: { class: "form-control" }, label: false } do |f|

		.col-md-6
			.form-group class="#{'has-error' if !@medicine.errors[:medicine_id].empty?}"
				label Препарат
				select.form-control ng-options="medicine.id as medicine.title for medicine in medicines" ng-model="medicine" disabled="true"

			= f.hidden_field :reception, value: "{{receptions}}"

			h6 Расписание
			= f.input :beginning_at, as: :flat_datepicker, placeholder: "Начало курса", disabled: true
			= f.input :periodicity, placeholder: "Периодичность", label: "Периодичность", as: :select, collection: PatientMedicine.periodicities.keys, include_blank: false, disabled: true
		.col-md-6
			h6 Время и дозировка
			.clearfix
			div ng-repeat="reception in receptions" class="reception" ng-class="{'acceptable': is_acceptable(reception)}"
				= select_tag "time[]", options_for_select(PatientMedicineQuery.reception_times), include_blank: false, "ng-model" => "reception.time"
				= text_field_tag "dosage[]", nil, "ng-model" => "reception.dosage", placeholder: "доза"
				center мл
			.reception.add ng-click="add_reception()" +
		.col-md-12
			.form-actions = f.submit "Добавить", class: "btn btn-huge btn-wide btn-primary"


	script type="text/ng-template" id="custom_medicine.html"
		.modal-header
			h4 Свой препарат
		.modal-body
			.form-group
				= text_field_tag :title, nil, class: "form-control", "ng-model" => "medicine.title", placeholder: "Название препарата.."
		.modal-footer
			= link_to "Отмена", '#', class: "btn btn-default", "ng-click" => "cancel()"
			= link_to "Сохранить", 'javascript:void(0);', class: "btn btn-primary", "ng-click" => "ok()"