h3
	| Принимаемые препараты
	= link_to new_patient_medicine_path, class: "btn btn-primary btn-sm btn-wide btn-epi pull-right" do
		i.fui-plus-inverted
		| Добавить препарат

- if @medicines.any?
	table.table.nowraped
		thead
			tr
				th Препарат
				th.text-right Начало приема
				th.text-right Периодичность
				th.text-right Ближайший прием
				th
		tbody= @medicines.rendering as: :table_row, with: self
- else
	= custom_message "ВЫ НЕ ПРИНИМАЕТЕ НИКАКИХ ПРЕПАРАТОВ"