= stylesheet_link_tag "signin"

.container-fluid
	= simple_form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: "login-form condensed" }, defaults: { input_html: { class: "form-control" }, label: false } do |f|
		- form_helper = FormHelper.new(view_context: self, f: f)
		h4.form-signin-heading Регистрация
		= form_helper.render_btn_group :is_watcher, [false, true]

		= f.input :first_name
		= f.input :last_name
		= f.input :birthday, as: :flat_datepicker, placeholder: "Дата рождения"
		= f.input :email
		= f.input :password

		= form_helper.render_btn_group :sex, Users::Constants::SEXES

		= f.submit "Зарегистрироваться", class: "btn btn-primary btn-lg btn-block"
/ = render "devise/shared/links"