tr
	td = seizure.draw_time
	td
		= link_to edit_patient_seizure_path(seizure)
			= seizure.type
			edit_patient_seizure_path
		= link_to_if_with_block seizure.video.exists?, seizure.video.url, "data-no-turbolink" => true
			span.video
				- if seizure.video.exists?
					span.fui-video
				span.time= seizure.draw_duration