h2
	| Лекарства 
	= link_to new_admin_medicine_path, class: "btn btn-primary btn-sm btn-wide btn-epi" do
		i.fui-plus-inverted
		| Добавить лекарство

- if @medicines.any?
	.table-responsive
		table.table.table-sortable
			thead
				tr
					th.draggable
					th Название препарата
					th.text-right Действия
			tbody.sortable data-update-url=sort_admin_medicines_path = @medicines.rendering as: :table_row, with: self
- else
	= custom_message "НЕТ ЛЕКАРСТВ"