h2 Новое лекарство

= simple_form_for @medicine, url: admin_medicines_path, method: :post, defaults: { input_html: { class: "form-control" } } do |f|
	= f.input :title, placeholder: "Название", label: false
	= f.submit "Создать", class: "btn btn-primary btn-huge btn-wide mrs", data: { "disable_with" => "Загрузка.." }
	= link_to "Назад", admin_medicines_path, class: "btn btn-default btn-huge btn-wide"