h2 = @doctor.full_name

= simple_form_for @doctor, url: admin_doctor_path(@doctor), method: :patch, defaults: { input_html: { class: "form-control" }, label: false } do |f|
	.col-md-2= f.input :photo, as: :image_preview
	.col-md-10
		= f.input :last_name
		= f.input :first_name
		= f.input :job, placeholder: "Должность"
		= f.input :about, input_html: { rows: 5 }

	.col-md-12
		= f.submit "Сохранить", class: "btn btn-primary btn-huge btn-wide mrs", data: { "disable_with" => "Загрузка.." }
		= link_to "Назад", admin_doctors_path, class: "btn btn-default btn-huge btn-wide"