li class=consultation.direction
	.avatar
		= image_tag consultation.author.photo.url(:small)
	.messages
		= simple_format consultation.text
		time datetime=consultation.created_at 
			= consultation.author.full_name
			= " • "
			= l consultation.created_at, format: "%d %b %Y %H:%M"