h2 Консультации
= simple_form_for Consultation.new, url: patient_consultation_path, html: { class: "separated-bottom" }, defaults: { input_html: { class: "form-control" } } do |f|
	= f.input :text
	= f.submit "Написать врачу", class: "btn btn-wide btn-huge btn-primary"

ol.discussion
	- if @messages.any?
		= @messages.rendering as: :chat_message, with: self
	- else
		= custom_message "ЗАДАЙТЕ ВОПРОС ПРЯМО СЕЙЧАС"