tr
	td 
		= link_to edit_admin_user_path(user) do
			= image_tag user.photo.url(:small)
			= user.full_name
	td
		span.label class="label-#{user.role_label_class}" = user.draw_role
	td = user.email
	td = l user.created_at, format: "%d %b %Y %H:%M"
	td.text-right
		= link_to "Удалить", admin_user_path(user), method: :delete, "data-confirm" => TranslationHelper::confirm_destroy(:doctor, title: user.full_name)