tr id=user.id
	td.draggable
		i.fui-list
	td = user.full_name
	td.text-right
		= link_to doctor_path(user), method: :delete, "data-confirm" => TranslationHelper::confirm_destroy(:doctor, title: user.full_name) do
			i.fui-trash