javascript:
	window.patient_id = #{@patient.id}

= javascript_include_tag "medications_graphic", "seizures_graphic"

h2
	= user.full_name
	.btn-group.pull-right data-toggle="buttons" style="margin-top: 17px;"
		- %w(week month quarter half year).each do |period|
			label.btn.btn-primary class="#{'active' if period == 'week'}"
				= radio_button_tag :period, period
				= TranslationHelper.period period

dl.dl-horizontal
	dt Email
	dd = user.email
	dt Пол
	dd = user.draw_sex
	dt Возраст
	dd = user.age
	dt Лекарства
	dd = user.medicines.map(&:draw_title).join(", ")

#medication-graphic
#seizures-graphic