tr
	td 
		= link_to admin_patient_path(user) do
			= image_tag user.photo.url(:small)
			= user.full_name
	td = user.email
	td = user.age
	td = user.sex_letter
	td = user.seizures_count
	td = user.medicines_count
	td