tr
	td.col-md-12 = link_to patient_medicine.draw_title, edit_patient_medicine_path(patient_medicine)
	td.text-right = patient_medicine.draw_beginning_at
	td.text-right = patient_medicine.draw_periodicity
	td.text-right = patient_medicine.draw_next_medication_date
	td.text-right
		= link_to patient_medicine_path(patient_medicine), method: :delete, "data-confirm" => TranslationHelper::confirm_destroy(:patient_medicine, title: patient_medicine.draw_title), class: "btn btn-huge btn-danger" do
			| Завершить