= simple_form_for clinic, url: admin_clinic_path, defaults: { input_html: { class: "form-control" } } do |f|
	= f.input :about, placeholder: "Описание", label: false, input_html: { rows: 10 }
	= f.submit "Сохранить", class: "btn btn-primary btn-huge btn-wide", data: { "disable_with" => "Сохраняю.." }