.row
	= simple_form_for clinic, url: admin_clinic_path(tab: "contacts"), defaults: { input_html: { class: "form-control" } } do |f|
		.col-md-6
			= f.input :coordinates
			= f.input :address
		.col-md-6
			= f.input :phone, input_html: { "data-mask" => "+9 (999) 999-99-99" }
			= f.input :email, input_html: { type: :text, "data-type-mask" => "email" }
		.col-md-12
			= f.input :site, input_html: { "data-type-mask" => "url" }
			= f.submit "Сохранить", class: "btn btn-primary btn-wide btn-huge"