h2
	| Врачи 
	= link_to new_admin_doctor_path, class: "btn btn-primary btn-sm btn-wide btn-epi" do
		i.fui-plus-inverted
		| Добавить врача

- if @doctors.any?
	.table-responsive
		table.table.table-sortable
			thead
				tr
					th.draggable
					th Врач
					th Примечания
					th.text-right Действия
			tbody.sortable data-update-url=sort_admin_doctors_path = @doctors.rendering as: :table_row, with: self
- else
	= custom_message "НЕТ ВРАЧЕЙ"