tr id="medication-#{medication.id}"
	td = medication.draw_time
	td = medication.draw_title_with_dosage
	td.nowrap
		= link_to take_medication_patient_path(medication), remote: true, method: :post, class: "btn-icon" do
			span.fui-check-inverted class="#{'checked' if medication.taken?}"
		= link_to reject_medication_patient_path(medication), remote: true, method: :post, class: "btn-icon" do
			span.fui-cross-inverted class="#{'checked' if medication.rejected?}"