tr id=doctor.id
	td.draggable
		i.fui-list
	td style="white-space: nowrap;"
		= link_to edit_admin_doctor_path(doctor) do
			= image_tag doctor.photo.url(:small)
			= doctor.full_name
	td = doctor.job
	td = truncate doctor.about, length: 100, omission: "...", separator: " "
	td.text-right
		= link_to admin_doctor_path(doctor), method: :delete, "data-confirm" => TranslationHelper::confirm_destroy(:doctor, title: doctor.full_name) do
			i.fui-trash