h2 = "Диалог с #{@dialog.patient.full_name}"

= simple_form_for Consultation.new, url: admin_dialog_consultations_path(@dialog), html: { class: "separated-bottom" }, defaults: { input_html: { class: "form-control" } } do |f|
	= f.input :text, placeholder: "Консультации пациенту", label: false
	= f.submit "Ответить", class: "btn btn-wide btn-huge btn-primary"

ol.discussion
	- if @messages.any?
		= @messages.rendering as: :chat_message, with: self
	- else
		= custom_message "ЗАДАЙТЕ ВОПРОС ПРЯМО СЕЙЧАС"