= link_to admin_dialog_path(dialog), class: "media dialogue #{'unread' if dialog.unread_by_doctor > 0}" do
	.pull-left = image_tag dialog.patient.photo, class: "media-object"
	.media-body
		h6.media-heading = dialog.patient.full_name
		p = dialog.last_message.try :text