tr id=dictionary_item.id
	td.draggable
		i.fui-list
	td = link_to dictionary_item.title, edit_admin_dictionary_path(dictionary_item)
	td.text-right
		= link_to admin_dictionary_path(dictionary_item), method: :delete, "data-confirm" => TranslationHelper::confirm_destroy(:dictionary_item, title: dictionary_item.title) do
			i.fui-trash