h2 Редактирование профиля

.row
	= simple_form_for @patient, url: patient_path, defaults: { input_html: { class: "form-control" }, label: false } do |f|
		- form_helper = FormHelper.new(view_context: self, f: f)
		.col-md-2
			h4 Фото
			= f.input :photo, as: :image_preview
		.col-md-5
			h4 Основная информация
			= f.input :first_name, disabled: true
			= f.input :last_name, disabled: true
			= f.input :email, disabled: true
			label.inline-btn-group
				| Тип профиля
				= form_helper.render_btn_group :is_watcher, [false, true]
			label.inline-btn-group
				| Пол
				= form_helper.render_btn_group :sex, Users::Constants::SEXES

		.col-md-5
			h4 Изменить пароль
			= f.input :password, hint: "оставьте пустым, если не хотите изменять пароль"
			= f.input :password_confirmation
			= f.input :current_password
		.col-md-12.form-actions
			= f.submit "Сохранить", class: "btn btn-wide btn-huge btn-primary"