javascript:
	window.patient_id = #{current_user.id}

= javascript_include_tag "medications_graphic", "seizures_graphic"

h2 
	| Статистика
	.btn-group.pull-right data-toggle="buttons" style="margin-top: 17px;"
		- %w(week month quarter half year).each do |period|
			label.btn.btn-primary class="#{'active' if period == 'week'}"
				= radio_button_tag :period, period
				= TranslationHelper.period period

#medication-graphic
#seizures-graphic