h2 Сегодня

table.table
	thead
		tr
			th Время
			th style="width: 100%;" Препарат
			th
	tbody= @medications.rendering as: :table_row, with: self

h4 
	| Приступы
	= link_to "Зафиксировать приступ", new_patient_seizure_path, class: "btn btn-wide btn-primary pull-right"

- if @seizures.any?
	table.table
		thead
			tr
				th Время
				th style="width: 100%;"
		tbody = @seizures.rendering as: :table_row, with: self
- else
	= custom_message "ПРИСТУПОВ НЕ ЗАФИКСИРОВАНО"