h2 Пациенты

- if @patients.any?
	.table-responsive
		table.table
			thead
				tr
					th Клиент
					th Email
					th Возраст
					th Пол
					th Приступы
					th Лекарства
					th
			tbody
				= @patients.rendering as: :patient_table_row, with: self
- else
	= custom_message "НЕТ ПАЦИЕНТОВ"