= stylesheet_link_tag "signin"

.container-fluid
	= form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "login-form" } do |f|
		h4.form-signin-heading Вход в систему
		.form-inputs
			.control-group
				= f.text_field :email, required: false, autofocus: true, class: "form-control login-field", id: "login-name", placeholder: "Введите ваше имя"
				= label_tag :email, "", class: "login-field-icon fui-user"
			.control-group
				= f.password_field :password, required: false, class: "form-control login-field", id: "login-pass", placeholder: "Введите ваш пароль"
				= label_tag :password, "", class: "login-field-icon fui-lock"
			/ = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
		= f.button "Войти", class: "btn btn-primary btn-lg btn-block"
	/ = render "devise/shared/links"