h2 Клиника

ul.nav.nav-pills.nav-tabbable
	- GlobalConstants::CLINIC_TABS.each do |tab|
		li class="#{'active' if tab == @tab}" = link_to TranslationHelper.clinic_tab_name(tab), "##{tab}"

.tab-content.for-pills
	- GlobalConstants::CLINIC_TABS.each do |tab|
		.tab-pane class="#{'active' if tab == @tab}" id=tab 
			= @clinic.rendering as: "#{tab}_tab", with: self