.form-group
	.btn-group data-toggle="buttons"
		- collection.each_with_index do |field, index|
			label.btn.btn-primary class="#{'active' if f.object.send(name).to_s == field.to_s}"
				= f.radio_button name, field
				- if labels.any?
					= labels[index]
				- else
					= I18n.t field.to_s, scope: "activerecord.attributes.#{f.object.class.name.underscore}.#{name}_variants"