h2 Редактирование элемента словаря

= simple_form_for @dictionary, url: admin_dictionary_path, method: :put, defaults: { input_html: { class: "form-control" }, label: false } do |f|
	.col-md-12
		= f.input :title

	.col-md-12
		= f.submit "Сохранить", class: "btn btn-primary btn-huge btn-wide mrs", data: { "disable_with" => "Загрузка.." }
		= link_to "Назад", admin_dictionaries_path(bookmark: @dictionary.type), class: "btn btn-default btn-huge btn-wide"