h2 
	= TranslationHelper.dictionary_item params[:bookmark]
	= link_to new_admin_dictionary_path(bookmark: params[:bookmark]), class: "btn btn-primary btn-sm btn-wide btn-epi" do
		i.fui-plus-inverted
		| Новое значение

- if @items.any?
	.table-responsive
		table.table.table-sortable
			thead
				tr
					th
					th Значение
			tbody.sortable data-update-url=sort_admin_dictionaries_path = @items.rendering as: :row, with: self
- else
	= custom_message "НЕТ ЗНАЧЕНИЙ"