h2 = TranslationHelper.dictionary_item params[:bookmark]

= simple_form_for @resource, url: admin_dictionaries_path(bookmark: params[:bookmark]), method: :post, defaults: { input_html: { class: "form-control" }, label: false } do |f|
	.col-md-12
		= f.input :title
		= f.input :type, as: :hidden

	.col-md-12
		= f.submit "Создать", class: "btn btn-primary btn-huge btn-wide mrs", data: { "disable_with" => "Загрузка.." }
		= link_to "Назад", admin_dictionaries_path(bookmark: params[:bookmark]), class: "btn btn-default btn-huge btn-wide"