$gutter: 20px;

@font-face {
  font-family: 'PFAgoraSansProBlack';
  src: asset-url('ptfagorasans_bold/PFAgoraSansPro-Black.eot');
  src: asset-url('ptfagorasans_bold/PFAgoraSansPro-Black.eot?#iefix') format('embedded-opentype'),
       asset-url('ptfagorasans_bold/PFAgoraSansPro-Black.woff') format('woff'),
       asset-url('ptfagorasans_bold/PFAgoraSansPro-Black.ttf') format('truetype'),
       asset-url('ptfagorasans_bold/PFAgoraSansPro-Black.svg#arvoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {
	font-family: "Helvetica Neue", Helvetica;
	font-size: 17px;
}

h1 {
	font-family: PFAgoraSansProBlack;
	font-size: 27px;
	line-height: 46px;
	margin: 30px 0;
}

body {
	padding: 0 $gutter;
	margin: 0;
}

p {
	font-size: 17px;
	line-height: 25px;
	font-weight: 300;
}

h2 {
	margin: 0 -$gutter;
	padding: 0 $gutter 10px;
	border-bottom: 1px solid #b2b2b2;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 18px;
}

.map-wrapper {
	margin-left: -$gutter;
	margin-right: -$gutter;
	margin-top: 19px;
}

dl {
	dt {
		float: left;
		margin-right: 10px;
		font-weight: bolder;
	}
	dd {
		margin: 0;
		font-weight: 300;
	}
}

.clear {
	clear: both;
}

.actions {
	padding: 30px 0;
	a {
		color: #21debe;
		text-decoration: none;
		font-weight: normal;
		-webkit-transition: opacity 300ms;
    transition: opacity 300ms;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		&:last-child {
			float: right;
		}

		&:hover {
			opacity: .5;
		}
	}
}

.doctors-wrapper {
	margin: 0 -10px;
	.doctor {
		-webkit-tap-highlight-color: rgba(0,0,0,.05);
		width: 33%;
		max-width: 150px;
		padding: 10px;
		text-align: center;
		display: inline-block;
		box-sizing: border-box;
		color: #000000;
		text-decoration: none;
		-webkit-transition: opacity 300ms;
    transition: opacity 300ms;

		.image-wrapper {
			width: 100%;
			border-radius: 50%;
			overflow: hidden;
			background-color: #d2f200;
			img {
				max-width: 100%;
				display: block;
			}
		}
		.name {
			font-size: 14px;
			line-height: 18px;
			margin-top: 10px;
		}

		&:hover, &:focus, &:active {
			opacity: .5;
		}
	}	
}