@import 'mixins';


.form-group {
	.form-control {
		&:focus {
			&+ .input-icon {
				color: $green_color;
				z-index: 9;
			}
		}
	}

	.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
		border-color: transparent;
		color: #34495e !important;
	}
	.help-block {
		margin-top: 0 !important;
	}

	&.has-error {
		.help-block { display: none; }
		.help-inline {
			display: block;
			margin-top: 5px;
			margin-bottom: 15px;
			line-height: 1;
		}
	}

	&.select { width: 100% !important; }
}

.form-actions {
	border-top: 2px solid #f4f6f6;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	
	small {
		display: block;
		font-size: 16px;
		text-transform: uppercase;
		line-height: 1;
		margin-top: 5px;
		color: #A8A8A8;
	}
}


label {
	&.inline-btn-group {
		display: table;
		width: 100%;
		vertical-align: middle;
		line-height: 41px;
		margin-bottom: 10px;

		.form-group {
			display: inline;
			float: right;
			line-height: initial;
			margin-bottom: 0;
		}
	}
}

@media screen and (max-width: $small_devices) {
	h2 { font-size: 40px; }
	h4 { font-size: 23px; }
}

.dropdown-menu { min-width: 100%; }

.btn-group > .dropdown-toggle:not(:first-child) {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.btn-block {
	min-width: 100% !important;
}

.table-select {
	.btn-group {
		&.select {
			width: 100%;
		}
	}	
}

.table-buttons {
	.form-group {
		display: table;
		width: 100%;
		.btn-group {
			display: table-row;
			width: 100%;
			label {
				float: inherit !important;
				width: auto;
				display: table-cell;
			}
		}
	}
}

.nowrap { white-space: nowrap !important; }


.select2-container .select2-choice {
    border: 2px solid #bdc3c7;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    text-indent: 1px;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.select2-container.select2-drop-above .select2-choice {
    border-bottom-color: #bdc3c7;
    -webkit-border-radius:0 0 6px 6px;
       -moz-border-radius:0 0 6px 6px;
            border-radius:0 0 6px 6px;
}
.select2-drop {
    margin-top: -2px;
    border: 2px solid #bdc3c7;
    border-top: 0;
    -webkit-border-radius:0 0 6px 6px;
       -moz-border-radius:0 0 6px 6px;
            border-radius:0 0 6px 6px;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.select2-drop.select2-drop-above {
    margin-top: 2px;
    border-top: 2px solid #bdc3c7;
    border-bottom: 0;
    -webkit-border-radius: 6px 6px 0 0;
       -moz-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.select2-container .select2-choice div {
    border-left: 2px solid #bdc3c7;
    -webkit-border-radius: 0 4px 4px 0;
       -moz-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
 
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
}
.select2-search input {
    height: 30px !important;
    border: 2px solid #bdc3c7;
}
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
    border: 2px solid #bdc3c7;
    outline: none;
 
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}
.select2-dropdown-open .select2-choice {
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
 
    -webkit-border-bottom-left-radius: 0;
        -moz-border-radius-bottomleft: 0;
            border-bottom-left-radius: 0;
 
    -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-bottomright: 0;
            border-bottom-right-radius: 0;
}
.select2-dropdown-open .select2-choice div {
    background: transparent;
    border-left: none;
    filter: none;
}
.select2-results .select2-highlighted {
    background: #3875d7;
    background: #1abc9c;
    color: #fff;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.select2-container-multi .select2-choices {
    height: auto !important;
    height: 1%;
 
    border: 2px solid #bdc3c7;
}
.select2-container-multi.select2-container-active .select2-choices {
    border: 2px solid #bdc3c7;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
 
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
}

select {
	-webkit-appearance: menulist !important;
}