/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require flat-ui
 *= require select2/select2
 *= require design.epilab
 *= require alter.flatui
 *= require smart-form
 *= require consultation
 *= require medicines
 */

@import 'mixins';
@import 'bootstrap';

.modal-content {
	box-shadow: none !important;
}

table {
	&.nowraped {
		td, th {
			white-space: nowrap;
		}
	}
}