.discussion {
  list-style: none;
  // background: #e5e5e5;
  margin: 0;
  padding: 0; // finality
  li {
    padding: 0.5rem;
    overflow: hidden;
    display: table;
    clear: both;
  }
  .avatar {
    width: 40px !important; // stronger than %
    // could set height, but gonna bottom-align instead
    position: relative; // for triangle
    img {
      display: block; // triangle position
      width: 100%;
    }
    display: table-cell;
    vertical-align: top;
  }
  .messages {
  	display: table-cell;
  	vertical-align: top;
  }
}

.income {
	.messages {
		border-top-left-radius: 0;
		background-color: #1abc9c;
		color: #fff;
		time { color: rgba(255, 255, 255, .7); }
	}

  .avatar {
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid #1abc9c;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
  }
}

.outcome {
  float: right;
  direction: rtl;
  .messages {
    border-bottom-right-radius: 0; // weird shadow fix
    background-color: #e2e1e6;
    direction: ltr;
    time { color: rgba(0, 0, 0, .4); }
  }
  .avatar {
    vertical-align: bottom;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid #e2e1e6;
      border-right-color: transparent;
      border-top-color: transparent;
      // box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
    }
  }
}

.messages {
  background: white;
  padding: 15px;
  border-radius: 5px;

  // box-shadow: 0 1px 2px rgba(black, 0.2);
  p {
    font-size: 15px;
    margin: 0 0 5px 0;
    line-height: 18px;
  }
  time {
    font-size: 12px;
		display: block;
		line-height: 12px;
		margin-top: 10px;
  }
}