@import 'mixins';

body {
	&.padded {
		padding-top: 53px;
	}
}

.btn {
	&.btn-epi {
		i {
			margin-right: 7px;
		}
	}
}

.input-group-btn {
	z-index: 3;
}

nav {
	& * {
		font-weight: normal !important;	
	}
	form {
		width: auto !important;
	}
	.tt-hint {
		height: 35px;
		padding: 5px 10px;
		font-size: 15px;
		line-height: 1.4;
	}
	.twitter-typeahead {
		display: table !important;
		background: #293a4a;
		border-radius: 6px !important;
	
		input {
			border-radius: 6px !important;
		}
	}
}
.input-group .form-control:first-child {
	border-radius: 6px !important;
}

.table {
	[class*="fui-"] {
		top: 0;
		font-size: 16px;
	}

	.draggable {
		// padding-right: 0;
		width: 20px;
		i {
			color: #777;
		  cursor: move;	
		}
	}

	.role-cell {
		padding: 0 !important;
		text-align: right;
	}

	&.table-sortable {
		tr {
			td {
				background: white;
			}
		}
	}
	td {
		vertical-align: middle !important;
		img {
			height: 32px;
			width: 32px;
			border-radius: 100%;
			vertical-align: middle;
			margin-right: 10px;
		}
		a {
			&.btn-icon {
				line-height: 24px;
				vertical-align: bottom;
				margin-left: 10px;
				span {
					&.fui-check-inverted, &.fui-cross-inverted { 
						font-size: 24px; 
						color: $gray_color;
					}

					&.fui-check-inverted {
						&:hover { color: $green_color; }
					}
					&.fui-cross-inverted {
						&:hover { color: $red_color; }
					}

					&.checked {
						&.fui-check-inverted { color: $green_color; }
						&.fui-cross-inverted { color: $red_color; }
					}
				}
			}
		}
	}
}

.tagsinput {
	margin-bottom: 0;
	input {
		margin: 2px 5px 0 0;
	}
}

.form-group {
	margin-bottom: 10px;
	
	&.has-error {
		.help-inline {
			color: #e74c3c;
			font-size: 15px;
		}
	}
}

.tab-content {
	&.for-pills {
		border: 0;
		padding: 20px 0;
	}
}

textarea {
	-o-transition: height 0.2s;
	-webkit-transition: height 0.2s;
	-moz-transition: height 0.2s;
	transition: height 0.2s;
}

label {
	margin-bottom: 0;
	line-height: 1;
}

#ui-datepicker-div {
	z-index: 9 !important;
	box-shadow: none !important;
}

.image_preview {
	.fileinput {
		text-align: center;
	}
	.fileinput-new, .fileinput-preview {
		border: none;
		padding: 0;
	}
}

.ui-datepicker-inline {
	width: 100%;
	margin: 0;
	box-shadow: none;
	&:before {
		border: none !important;
	}
}

@media screen and (max-width: $small-devices) {
	.btn-group {
		width: 100%;
		display: table;
		margin-bottom: 20px;
		label {
			display: table-cell;
			width: auto;
			float: inherit !important;
		}
	}
}

.video {
	margin: 0 10px;
	color: #999999;
	.time {
		font-size: 12px;
	}
	span {
		vertical-align: middle;
		height: 19px;
		line-height: 19px;
		&.fui-video {
			margin-right: 5px;
		}
		&.time {
			vertical-align: top;
		}
	}
}

.separated-bottom {
	border-bottom: 2px solid #ddd;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.typeahead-search {
	cursor: pointer;
	line-height: 12px !important;
	display: table !important;
	width: 100%;
}

.typeahead-info {
	cursor: pointer;
	display: table-cell;
	vertical-align: middle;
	font-size: 14px;
	line-height: 14px;
	
	small {
		display: block;
		line-height: 12px !important;
		font-size: 12px;
		margin-top: 3px;
	}
}
.typeahead-photo {
	cursor: pointer;
	display: table-cell;
	vertical-align: middle;
	width: 40px;
	img {
		margin: 0 5px;
		display: table-cell;
		width: 40px !important;
		height: 40px !important;
	}
}

#patient-search {
	min-width: 250px;
}

.media {
	display: table;
	margin: 0;
	color: #000;

	&.dialogue {
		padding: 10px;
		display: block;
		&:hover {
			background: #edf1f5;
		}
		&.unread {
			background: lightgoldenrodyellow;
			&:hover {
				background: beige;
			}
		}
		border-bottom: 1px solid #ddd;
		border-top: 1px solid #ddd;
		margin-top: -1px;
		
		p {
			margin: 0;
			padding: 0;
			white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;
			max-width: 100%;
			font-size: 16px;
		}
	}
	
	.media-body {
		color: #666;
		font-size: 16px;
		line-height: 1;

		.media-heading {
			font-size: 20px;
			color: #000;
			margin: 0;
		}
	}
	.media-object {
		width: 50px;
		height: 50px;
	}
}