// Place all the styles related to the medicines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.reception {
	width: 150px;
	display: block;
	padding: 10px;
	background: rgba(0, 0, 0, .05);
	border-radius: 2px;
	display: inline-block;
	border: 2px solid white;
	height: 100px;
	transition: all ease .5s;
	select, input {
		width: 100%;
	}
	select {
		-webkit-appearance: none !important;
		border-radius: 0;
		border: 1px solid;
		background: transparent;
		outline: none;
		padding-left: 40px;
	}
	input {
		background: transparent;
		border: none;
		text-align: center;
		outline: none;
		font-size: 15px;
		line-height: 1;
	}
	center {
		font-size: 13px;
		line-height: 1;
		margin-top: -5px
	}
	&.add {
		vertical-align: top;
		text-align: center;
		line-height: 70px;
		font-size: 40px;
		color: rgba(0,0,0,.4);
		background: rgba(0,0,0,.05);
		cursor: pointer;
		&:hover {
			background: rgba(0,0,0,.1);
			color: rgba(0,0,0,.6);
		}
	}
	&.acceptable {
		color: white;
		background: #48c9b0;
	}
}