body {
  padding-bottom: 40px;
  background-color: #1abc9c;
}

.login-form {
  max-width: 330px;
  padding: 15px;
  margin: 40px auto 0;

	background-color: #edeff1;
	padding: 24px 23px 20px;
	position: relative;
	border-radius: 6px;
	h4 {
		margin: 0 0 25px;
	}
}
.login-form .login-form-heading,
.login-form .checkbox {
  margin-bottom: 10px;
}
.login-form .checkbox {
  font-weight: normal;
}
.login-form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.login-form .form-control:focus {
  z-index: 2;
}

.login-form.condensed .form-control {
  padding: 8px 12px;
  // font-size: inherit;
}


.login-form .login-field {
  border-color: transparent;
  font-size: 17px;
  text-indent: 3px;
}
.login-form .login-field:focus {
  border-color: #1abc9c;
}
.login-form .login-field:focus + .login-field-icon {
  color: #1abc9c;
}
.login-form .login-field-icon {
  color: #bfc9ca;
  font-size: 16px;
  position: absolute;
  right: 15px;
  top: 16px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  z-index: 2;
}
.login-form .control-group {
	position: relative;
	margin-bottom: 20px;
}