= javascript_include_tag "admin/users"
h2 = @user.full_name

.row
	= simple_form_for @user, url: admin_user_path, defaults: { input_html: { class: "form-control" }, label: false }, html: { autocomplete: "off" } do |f|
		- form_helper = FormHelper.new(view_context: self, f: f)
		.col-md-2
			h4 Фото
			= f.input :photo, as: :image_preview
		.col-md-5
			h4 Основная информация
			= f.input :last_name
			= f.input :first_name
			= f.input :email
			= f.input :birthday, as: :flat_datepicker, placeholder: "Дата рождения", input_html: {value: f.object.birthday_date.strftime("%d.%m.%Y")}
			label.inline-btn-group
				| Роль
				= form_helper.render_btn_group :role, Users::Constants::ROLES
			label.inline-btn-group.patient-type
				| Тип профиля
				= form_helper.render_btn_group :is_watcher, [false, true]
			label.inline-btn-group
				| Пол
				= form_helper.render_btn_group :sex, Users::Constants::SEXES

		.col-md-5
			h4 Изменить пароль
			= f.input :password, hint: "оставьте пустым, если не хотите изменять пароль"
			= f.input :password_confirmation
			= f.input :current_password
		.col-md-12.form-actions
			= f.submit "Сохранить", class: "btn btn-wide btn-huge btn-primary"