h2 Пользователи
.table-responsive
	table.table
		thead
			tr
				th Фамилия Имя
				th.draggable
				th Email
				th Дата регистрации
				th.text-right Действия
		tbody = @users.rendering as: :admin_row, with: self