= javascript_include_tag "about"
= stylesheet_link_tag "about"

h1 EpiLab
p = @info.about

- if Doctor.count > 0
	h2 Наши специалисты
	.doctors-wrapper = Doctor.all.rendering as: :about_block, with: self

h2 Контакты
dl
	dt Тел.:
	dd = @info.phone
	.clear
	dt Email:
	dd = @info.email
	.clear
	dt Адрес: 
	dd#address data-longitude=@info.longitude data-latitude=@info.latitude = @info.address

.actions
	= link_to 'Позвонить', "tel: #{@info.phone}"
	= link_to 'Открыть в картах', "http://maps.apple.com/?q=#{@info.coordinates}"

.map-wrapper
	#map-canvas style="width: 100%; height: 270px;"