javascript:
	var hour = #{f.object.happened_at.hour}
	var min  = #{f.object.happened_at.min}
	var date = "#{f.object.happened_at.strftime('%d.%m.%Y')}"

coffee:
	$ ->
		$('#dtpicker').datetimepicker
			altField: "#seizure_happened_at",
			altFieldTimeOnly: false,
			prevText: '<i class="fa fa-chevron-left"></i>',
			nextText: '<i class="fa fa-chevron-right"></i>',
			timeText: 'Время'
			hourText: 'Часы',
			minuteText: 'Минуты'
			hour: hour
			minute: min
			defaultDate: date

.col-md-3
	= f.input :happened_at, as: :hidden
	#dtpicker
.col-md-9
	= f.input :type, collection: @types, include_blank: false
	= f.input :reason, collection: @reasons, include_blank: false
	= f.input :duration, as: :float
	= f.input :video
	- if f.object.video_file_size && !f.object.new_record? && request.get?
		video src="#{f.object.video.url}" width="480" height="270" controls=""
	= f.input :comment
.col-md-12
	.form-actions= f.submit "Отправить", class: "btn btn-wide btn-huge btn-primary"