h2 Редактирование приступа

.row
	= simple_form_for @seizure, url: patient_seizure_path(@seizure), method: :put, defaults: { input_html: { class: "form-control" } } do |f|
		= render 'seizures/form', f: f