nav.navbar.navbar-inverse.navbar-fixed-top role="navigation"
	.navbar-header
		button.navbar-toggle data-target="#navbar-collapse-01" data-toggle="collapse" type="button" 
			span.sr-only Toggle navigation
		a.navbar-brand href=admin_root_path
			span EpiLab
	#navbar-collapse-01.collapse.navbar-collapse
		ul.nav.navbar-nav
			= active_nav_link_to "Пациенты", admin_patients_path
			= active_nav_link_to admin_dialogs_path do
				| Консультации
				- if current_user.unreaded_messages.to_i > 0
					span.navbar-new= current_user.unreaded_messages

			= active_nav_link_to "Пользователи", admin_users_path
			= active_nav_link_to "Клиника", admin_clinic_path
			
			li.dropdown
				= link_to "#", class: "dropdown-toggle" do
					| Словарь
					b.caret
				span.dropdown-arrow
				ul.dropdown-menu
					li = link_to "Врачи", admin_doctors_path
					li = link_to "Лекарства", admin_medicines_path
					li = link_to "Причины приступов", admin_dictionaries_path(bookmark: :seizure_reason)
					li = link_to "Типы приступов", admin_dictionaries_path(bookmark: :seizure_type)


		ul.nav.navbar-nav.navbar-right
			li= link_to "Выход", destroy_user_session_path, method: :delete

		.hidden-sm.hidden-xs
			form.navbar-form.navbar-right action="#" role="search" 
				.form-group
					.input-group
						input#patient-search.form-control placeholder="Поиск по пациентам" type="search"