nav.navbar.navbar-inverse.navbar-fixed-top role="navigation"
	.navbar-header
		button.navbar-toggle data-target="#navbar-collapse-01" data-toggle="collapse" type="button" 
			span.sr-only Toggle navigation
		a.navbar-brand href=patient_root_path
			span EpiLab
	#navbar-collapse-01.collapse.navbar-collapse
		ul.nav.navbar-nav
			= active_nav_link_to "Сегодня", patient_root_path
			= active_nav_link_to "Статистика", statistic_patient_path
			= active_nav_link_to patient_consultation_path do
				| Консультации
				- if current_user.unreaded_messages.to_i > 0
					span.navbar-new= current_user.unreaded_messages
			= active_nav_link_to "Препараты", patient_medicines_path

		ul.nav.navbar-nav.navbar-right
			= active_nav_link_to "Профиль: #{current_user.initial_name}", edit_patient_path
			li= link_to "Выход", destroy_user_session_path, method: :delete