doctype html
html
	head
		meta charset="utf-8"
		meta content="IE=edge" http-equiv="X-UA-Compatible"
		meta content="width=device-width, initial-scale=1" name="viewport"
		title Epilab
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
	body.padded
		= render_navbar
		/ = render "layouts/navbar"
		= flat_flash
		.container-fluid= yield