doctype html
html
	head
		meta charset="utf-8"
		meta content="IE=edge" http-equiv="X-UA-Compatible"
		meta content="width=device-width, initial-scale=1" name="viewport"
		meta name='apple-mobile-web-app-capable' content='yes'
		meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
		title Epilab
		= csrf_meta_tags
		= javascript_include_tag "https://maps.googleapis.com/maps/api/js"
	body
		= yield